# ==========================
# Java / Spring Boot
# ==========================
**/target/
**/.mvn/
*.class
*.jar

# ==========================
# Node
# ==========================
**/node_modules/
**/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Uploads
# ==========================
**/productUpload/

# ==========================
# Environment
# ==========================
**/.env

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db